# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform generated folders/files
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log

# Keep or ignore lock file:
# Recommended to KEEP for teams. If you want to ignore it, uncomment below.
# **/.terraform.lock.hcl

# tfvars often contain environment-specific or sensitive values
**/*.tfvars
**/*.tfvars.json

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
